#page-3 {
    align-items: center;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-color: lightgray;
}

#page-3-quote {
    text-align: center;
    width: 50vw
}

#page-3-quote-subtext { 
    text-align: right;
    width: 50vw;
}