#page-4 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    align-items: center;
}

#call-to-action {
    justify-content: space-around;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 10vh;
    padding-left: 10vh;
    background-color: #3B82F6;
    border-radius: 25px;
    width: 50vw;
}

#call-to-action-text {
    flex: 1 1 80%;
}

#sign-up-button-2 {
    flex: 1 1 20%;
}

#call-to-action-title {
    text-align: left;
    width: auto;
}

#call-to-action-subtext {
    text-align: left;
    width: auto;
}

#sign-up-button-2 {
    background-color: #3B82F6;
    border-radius: 10px;
    border: none;
    outline: 2px solid white;
}