#page-1 {
    display: flex;
    align-items: center;
}

#page-1-text {
    width: 75vw;
    margin: 15vh;
}

#landing-page-image {
    flex: 1 1 60%;
}

#main-title { 
    flex: 1 1 40%;
    margin: 1vw;
}

#page-1-text {

}