#page-1 {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

#page-1-text {
    width: 75vw;
    margin: 15vh;
}

#landing-page-image {
    flex: 1 1 60%;
}

#main-title { 
    flex: 1 1 40%;
    margin: 1vw;
}

#sign-up-button-1 {
    background: #3B82F6;
    color: white;
    width: 7.5vw;
    height: 4vh;
    margin-top: 1vh;
    border-radius: 5px;
    border: none;
}

#header-logo {
    font-weight: bold;
    font-size: 1.25em;
}
