* { 
    outline: 1px solid red;
}

body { 
    display: flex;
    flex-direction: column;
}

.title-text {
    font-size: 3em;
}

.subtext {

}

.def-button {

}

.header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
}

.heading-1 {

}

.heading-2 {
    font-size: 2em;
    font-weight: bold;
}

.heading-3 {
    font-size: 1.5em;
    font-weight: bold;
}

.quote {
    font-size: 2em;
    font-style: italic;
}

.column-flexbox {
    display: flex;
    flex-direction: column;
}

.row-flexbox {
    display: flex;
    flex-direction: row;
}

.button { 
    flex: auto;
}
