

#header-logo {
    flex: 10 1 auto;
}

#header-link-one {
    flex: 1 1 auto;
}

#header-link-two {
    flex: 1 1 auto;
}

#header-link-three {
    flex: 1 1 auto;
}

.right { 
    text-align: right;
}